priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet libs "python execute and libs"
#!/usr/intel/bin/python3.6.3a

import sys,os

sys.path.append('/p/hdk/rtl/proj_tools/valley_tools/latest/lib')
import pandas as pd

$1
endsnippet

# vim:ft=snippets:
